<script>
  function validate1(event){
    var a = document.getElementById("myinput{{ x.list_id | tojson | safe }}").value;
    if(a!=""){
    event.preventDefault();
    var url = "/user/"+{{user.user_id}}+"/find/"+a;

    fetch(url).then(function(response) {
      console.log(response.status);
      if(response.status==200){
        console.log(1);
        event.target.onclick  = null;
        event.target.click();
      }
      else{
        console.log(-1);
        var x = document.getElementById("cname{{ x.list_id | tojson | safe }}");
        x.innerHTML = "Please enter a valid list name";
      }
    });
  }
  }
</script>
<script>
  function validate3(event){
    var a = document.getElementById("v1name{{ y.card_id | tojson | safe }}").value;
    if(a!=""){
    event.preventDefault();
    var url = "/user/"+{{user.user_id}}+"/find/"+a;

    fetch(url).then(function(response) {
      console.log(response.status);
      if(response.status==200){
        console.log(1);
        event.target.onclick  = null;
        event.target.click();
      }
      else{
        console.log(-1);
        var x = document.getElementById("cname2{{ y.card_id | tojson | safe }}");
        x.innerHTML = "Please enter a valid list name";
      }
    });
  }
  }
</script>
