<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Alert</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <form 
            action="/user/{{ user["user_id"] }}"
            method="POST"
            id="add-list-form"
            onclick="validate(event)"
          >
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="heloo"
                
                required
              />
              <div id="error"></div>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                value="submit"
                
              >
                Save changes
              </button>
            </div>
          </form>


    <script>
      
      function validate(event){
        const x = document.getElementById("heloo");
        var list = ["m", "a", "r", "k"];
        console.log(list.indexOf(x.value));
        
        const form = document.getElementById("add-list-form");
        if(list.indexOf(x.value)>=0)  {
          // If it isn't, we display an appropriate error message
          showError();
          // Then we prevent the form from being sent by canceling the event
          event.preventDefault();
        }
      }

        const x = document.getElementById("heloo");
        var list = ["m", "a", "r", "k"];
        console.log(list.indexOf(x.value));
        
        const form = document.getElementById("add-list-form");
        form.addEventListener('submit', function (event) {
        // if the email field is valid, we let the form submit

        if(list.indexOf(x.value)>=0)  {
          // If it isn't, we display an appropriate error message
          showError();
          // Then we prevent the form from being sent by canceling the event
          event.preventDefault();
        }
      });

       function showError() {
        
        
          var y = document.getElementById("error");
          y.innerHTML = "Please enter a correct email.";
        
      };
      
    </script>
  </body>
</html>
