<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input
      onclick="document.getElementById('custom').disabled = false; document.getElementById('charstype').disabled = true;"
      type="radio"
      name="type"
      checked="checked"
    />wanna custom url?
    <input
      type="text"
      name="custom"
      id="custom"
      placeholder="should be 5 charecters at least"
    />
    <br /><br />
    <input
      onclick="document.getElementById('custom').disabled = true; document.getElementById('charstype').disabled = false;"
      type="radio"
      name="type"
      value="customurl"
    />random?
    <select name="charstype" id="charstype" disabled="disabled">
      <option>Letters</option>
      <option>Number</option>
    </select>
  </body>
</html>
